.images-control {
    text-align: center;
    background-color: #a9a9a9;
    border: 1px solid #353535;
    padding: 1rem;
    margin: 2rem auto;
    width: 13rem;
    max-width: 80%;
  }
  
  .images__list {
    flex: auto;
    flex-direction: row;
    width: 20rem;
    max-width: 90%;
    margin: 2rem auto;
    list-style: none;
    padding: 0;
  }
  
  .images__list-item {
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid #353535;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .images__list-item h1 {
    margin: 0;
    font-size: 1.5rem;
    color: #353535;
  }
  
  .images__list-item h2 {
      margin: 0;
      font-size: 1rem;
      color: #7c7c7c;
  }
  
  .images__list-item p {
      margin: 0;
  }